
*,
*::after,
*::before {
  margin: 0;
  pad: 0;
  box-sizing: inherit;
}

html {
  font-size: 20px;
  font-family: 'Major Mono Display';
  color: black;
}

body {
  box-sizing: border-box;
  background-color: black;
}

#start-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(245, 245, 245, 0.5);
}

#start-screen {
  position: relative;
  text-align: center;
}

#start-screen-image {
  max-width: 100%;
  max-height: 100%;
}

#hand {
  max-width: 25%;
  max-height: 25%;
  list-style: none;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  cursor: pointer;
}

#main-screen {
  max-width: 100vw;
  max-height: 100vh;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.maze-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boss-image {
  width: 100%;
  height: 100%;
}

.enemy-image{
  max-width: 25%;
  max-height: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#combat-button-box {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

#combat-button-box h1 {
  background-color: rgba(245, 245, 245, 0.5);
}

#combat-button-box-background{
  max-width: 15%;
  max-height: 5%;
}

#start-button {
  background-color: black;
  color: whitesmoke;
  border-radius: 5px;
  width: 7em;
  height: 4em;
  cursor: pointer;
  border: none;
}

#restart-button{
  position: absolute;
  top: 30px;
  right: 10px;
  transform: translate(-50%, -50%);
  cursor:  alias;
  background-color: black;
  color: whitesmoke;
  border-radius: 5px;
  width: 7em;
  height: 4em;
}

#attack-button, #run-button {
  cursor: cell;
  background-color: black;
  color: whitesmoke;
  border-radius: 5px;
  width: 7em;
  height: 4em;
  position: absolute;
  top: 70%;
  left: 42%;
  transform: translate(-10%, -10%);
}

#run-button {
  left: 50%;
}


.win-image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.win-announce {
  text-align: center;
  color: whitesmoke;
}


.died {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;

}

.game-over-image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}